<div class="footer-first">
    <div class="container">
        <div class="col-md-2 col-sm-12 col-xs-12 col-md-offset-1">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/qr_code.jpg"))" />
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">           
            <p>通讯地址：厦门大学法学院C栋205、206室，361005</p>
            <p>联络人：陈文彬，吴荻</p>
            <p>电话：86-592-2186653 2180879</p>
            <p>传真：86-592-2186154</p>
            <a href="mailto:law@xmu.edu.cn" target="_top">E-mail:law@xmu.edu.cn</a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/bottom-text.png"))" />
        </div>
      </div>
</div>