@using Orchard.Core.Title.Models;
@using Orchard.ContentManagement;
@using Orchard.Core.Common.Models;
@using NGM.ContentViewCounter.Models;
@{
    var contentItem = (ContentItem)Model.ContentItem;
    var Title = contentItem.As<TitlePart>().Title;
    var PublishedUtc = contentItem.As<CommonPart>().PublishedUtc.Value;
    var Author = contentItem.As<CommonPart>().Author;
    var text = contentItem.As<BodyPart>().Text;
    var htmlString = new HtmlString(text);
    //var ViewCount = contentItem.As<UserViewPart>().TotalViews;

}
<div class="top-nav-bg">

</div>
<article>
    <div class="container-fluid detail-header">
        <div class="container text-center">
            <h1 class="title">@Title</h1>
            <span class="author">发布人: @Author | </span>
            <span class="time"> 发布时间: @PublishedUtc.ToLocalTime().ToString("yyyy-MM-dd") | </span>
            <span class="count"> 阅读数: 1</span>
            <hr />
        </div>
    </div>
    <div class="container-fluid detail-container">
        <div class="container">
            @htmlString
        </div>

    </div>
</article>