<div class="copyright text-center">
    <div class="container">
        <hr />
    </div>
    
    Copyright  © @System.DateTime.Now.Year School of Law, Xiamen University, All Rights Reserved
</div>

