<div class="footer-first">
    <div class="container">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/en/img_buttom_logo_2.png"))" class="img img-responsive" />
        </div>
        <div class="col-md-offset-1 col-md-5 col-sm-12 col-xs-12 contact-us">
            <h1>Contact Us</h1>
            <p><a>Address: 422 South Siming Road, Xiamen City, Fujian Province, China</a></p>
            <p><a>Telephone: +86-592-2187417</a></p>
            <a href="mailto:internationaloffice_law@xmu.edu.cn" target="_top">Email: internationaloffice_law@xmu.edu.cn</a>
        </div>
        
      </div>
</div>