<div class="footer-second">
    <div class="container">
        <h1>Related Links</h1>
        <div class="links">
            <a>link1link1</a> 
            <a>link1link1</a> 
            <a>link1link1</a> 
            <a>link1link1</a> 
            <a>link1link1</a>

            <a>link1link1</a>
        </div>
     </div>
</div>