<div class="footer-first">
    <div class="container">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/img_buttom_logo.png"))" />
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
            <h1>Contact Us</h1>
            <p>Address:422 South Siming Road, Xiamen City, Fujian Province</p>
            <p>Telephone:0086 + 592 + 2187417</p>
            <a href="mailto:hufangzhou@xmu.edu.cn" target="_top">Email:hufangzhou@xmu.edu.cn</a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h1>Follow Us</h1>
        </div>
      </div>
</div>