<div class="footer-first">
    <div class="container">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/img_buttom_logo.png"))" />
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 contact-us">
            <h1>Contact Us</h1>
            <p><a>Address: 422 South Siming Road, Xiamen City, Fujian Province</a></p>
            <p><a>Telephone: 0086 + 592 + 2187417</a></p>
            <a href="mailto:hufangzhou@xmu.edu.cn" target="_top">Email: hufangzhou@xmu.edu.cn</a>
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-12 col-xs-12 follow-us">
            <h1>Follow Us</h1>
        </div>
      </div>
</div>