<div class="container-fluid footer-entry">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <a class="main-link">联系我们</a>
                <a class="main-link" href="~/admin">管理登录</a>
                <a class="main-link">网站地图</a>
                <a class="main-link">旧版入口</a>
                <a class="main-link">投稿通知</a>
                <p>
                    联系电话：0592-2186653 <a href="mailto:law@xmu.edu.cn"> Email：law@xmu.edu.cn</a>
                    
                </p>
                <p>
                    通讯地址：福建省厦门市思明区思明南路422号厦门大学法学院，361005
                </p>
            </div>
            <div class="col-md-4">
                <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/bottom-text.png"))" />
            </div>
           
        </div>
        
    </div>
</div>