<div class="alert @((Model.Type).ToString() == "Error" ? "alert-danger" : (Model.Type).ToString() == "Information" ? "alert-info" : "alert-warning") fade in">
    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
    <strong>@Html.Raw(Html.Encode(Model.Message).Replace("\n", "<br />"))</strong>
</div>
@using (Script.Foot())
{
    <script>
        $(".alert").alert();
    </script>
}