@model dynamic
           
@{
    var siteName = WorkContext.CurrentSite.SiteName;
    var siteLinkText = !string.IsNullOrWhiteSpace(siteName) ? siteName : T("Your site").Text;
    var appLinkText = !string.IsNullOrWhiteSpace(siteName) ? siteName : T("Project Orchard").Text;
}
<div id="branding">
<div id="app">@Html.Link("法学院后台管理系统", Href("~/Admin"))</div>
<div id="site">@Html.Link("法学院后台管理系统", Href("~/Admin"))</div>
</div>