body {
  font-family: Helvetica, 'Microsoft YaHei', sans-serif;
  font-size: 20px;
  color: black;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.home-search .btn-default.active.focus,
.home-search .btn-default.active:focus,
.home-search .btn-default.active:hover,
.home-search .btn-default:active.focus,
.home-search .btn-default:active:focus,
.home-search .btn-default:active:hover,
.home-search .open > .dropdown-toggle.btn-default.focus,
.home-search .open > .dropdown-toggle.btn-default:focus,
.home-search .open > .dropdown-toggle.btn-default:hover {
  background-color: transparent;
  color: white;
}
.home-search {
  height: 46px;
  background-color: black;
}
.home-search .btn-group .btn {
  line-height: 46px;
  padding: 0 1em 0 1em;
  border-radius: 0;
  background-color: transparent;
  color: white;
  margin-right: 1em;
  border: none;
}
.home-search .input-group input,
.home-search .input-group button {
  padding: 0 1.5em 0 1.5em;
  height: 46px;
  border-radius: 0;
  background-color: #303030;
  color: white;
  border: none;
}
.home-search .input-group button {
  background-repeat: no-repeat;
  background-image: url("../Content/images/ic_nav_search.png");
  background-position: center;
  background-size: 20px 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.home .navbar.navbar-default {
  background-color: #252F4A;
}
.home .navbar-default .navbar-nav > .active > a,
.home .navbar-default .navbar-nav > .active > a:focus,
.home .navbar-default .navbar-nav > .active > a:hover {
  color: white;
  background-color: #252F4A;
}
.home .navbar-default .navbar-nav > li > a:focus,
.home .navbar-default .navbar-nav > li > a:hover {
  color: white;
  font-size: 1em;
}
.home .navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1em;
}
.home .navbar.center .navbar-inner {
  text-align: center;
}
.home .navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none;
}
.home .navbar-default .navbar-nav > li {
  margin: auto 0.25em auto 0.25em;
}
.en-home .navbar.navbar-default {
  background-color: black;
}
.en-home .navbar-default .navbar-nav > .active > a,
.en-home .navbar-default .navbar-nav > .active > a:focus,
.en-home .navbar-default .navbar-nav > .active > a:hover {
  color: white;
  background-color: black;
}
.en-home .navbar-default .navbar-nav > li > a:focus,
.en-home .navbar-default .navbar-nav > li > a:hover {
  color: white;
  font-size: 1em;
}
.en-home .navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1em;
  height: 80px;
  line-height: 80px;
  padding-top: 0;
}
.en-home .navbar-default .navbar-nav > li {
  margin: 0 0.25em 0 0.25em;
}
.en-home .btn-group .btn {
  line-height: 80px;
  padding: 0 1em 0 1em;
  border-radius: 0;
  background-color: transparent;
  color: white;
  border: none;
}
.en-home .input-group input,
.en-home .input-group button {
  padding: 0 2em 0 2em;
  height: 80px;
  border-radius: 0;
  background-color: #303030;
  color: white;
  border: none;
}
.en-home .input-group input {
  font-size: 1em;
}
.en-home .input-group button {
  background-repeat: no-repeat;
  background-image: url("../Content/images/ic_nav_search.png");
  background-position: center;
  background-size: 20px 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.en-home .navbar-form {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.en-home .container-fluid > .navbar-collapse {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.top-bg {
  width: 100%;
  height: 190px;
  background-image: url("../Content/images/top-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-bg .img-container {
  line-height: 190px;
}
.top-bg img {
  width: 661px;
  height: 103px;
}
.footer {
  padding: 2em;
  width: 100%;
  background-image: url("../Content/images/footer-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.footer img {
  margin-bottom: 2em;
}
.footer a.main-link {
  font-size: 0.9em;
  color: white;
  margin: auto 1em auto 1em;
  cursor: pointer;
  text-decoration: none;
}
.footer p {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1.5em;
  font-size: 0.7em;
  line-height: 1.75em;
}
.footer hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .copyright {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.3);
}
#footer li {
  display: inline;
  margin-right: 1em;
  font-size: 0.7em;
}
#footer li > a {
  color: rgba(255, 255, 255, 0.3);
}
#footer h3 {
  font-size: 0.9em;
}
#carousel-home {
  width: 100%;
  margin-top: -20px;
}
.carousel-inner .item {
  width: 100%;
  height: 500px;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  background-position: center center;
}
#carousel-home .carousel-caption {
  background-color: rgba(45, 68, 170, 0.8);
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.2em;
  padding-top: 18px;
  padding-bottom: 18px;
  text-shadow: none;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
#carousel-home .carousel-indicators {
  left: 90%;
  right: 10%;
  width: auto;
  bottom: 10px;
}
.carousel-indicators-numbers li {
  text-indent: 0;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 0;
  line-height: 30px;
  color: #fff;
  background-color: transparent;
  transition: all 0.25s ease;
}
.carousel-indicators-numbers li.active,
.carousel-indicators-numbers li:hover {
  color: #2D44AA;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  background-color: white;
}
.cn-home-columns {
  padding: 2em;
}
.cn-home-columns ul.nav.nav-pills {
  border-bottom: 2px solid #DCDCDC;
}
.cn-home-columns ul.nav.nav-pills li {
  text-align: center;
  width: 33.333%;
  margin: 0;
}
.cn-home-columns .nav-pills a {
  font-size: 0.9em;
  color: black;
  border-radius: 0;
  margin: 0;
}
.cn-home-columns .nav-pills > li.active > a,
.cn-home-columns .nav-pills > li.active > a:focus,
.cn-home-columns .nav-pills > li.active > a:hover {
  color: #2D44AA;
  background-color: transparent;
  border-bottom: 2px solid #2D44AA;
  font-weight: bold;
}
.cn-home-columns .column .list-group-item {
  border-left: none;
  border-right: none;
  font-size: 0.7em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-image: url(../Content/images/ic_new_list_content.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.cn-home-columns .title-name {
  text-align: left;
}
.cn-home-columns .title-time {
  text-align: right;
  color: #999999;
}
.cn-home-columns .side-column {
  padding-top: 0.5em;
  padding-left: 1.5em;
}
.cn-home-columns .column-header .column-title {
  font-size: 0.9em;
  text-align: left;
  background-image: url(../Content/images/img_title_dot.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.cn-home-columns .column-header .column-more {
  font-size: 0.7em;
  text-align: right;
}
.cn-home-columns .side-column .list-group-item {
  border-left: none;
  border-right: none;
  font-size: 0.7em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
@media only screen and (max-device-width: 768px) {
  .cn-home-columns .nav-pills a {
    font-size: 0.9em;
    color: black;
    border-radius: 0;
  }
}
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
  .top-bg {
    height: 95px;
  }
  .top-bg .img-container {
    line-height: 95px;
  }
  .top-bg img {
    width: 330px;
    height: 51px;
  }
  .footer img {
    width: 182px;
    height: 29px;
  }
  .carousel-inner .item {
    height: 250px;
  }
  #carousel-home .carousel-caption {
    font-size: 1em;
    text-align: left;
  }
  #carousel-home .carousel-indicators {
    left: 90%;
    right: 10%;
    width: auto;
    bottom: 0px;
  }
  .cn-home-columns {
    padding: 1em;
  }
  .cn-home-columns .nav-pills a {
    font-size: 0.9em;
    color: black;
    border-radius: 0;
  }
}