@primary-color: #2D44AA;
@primary-nav-color: white;
@top-bar-color: black;
@carousel-caption-color: rgba(0, 0, 0, 0.6);
@column-line-color: #DCDCDC;
@divider-color: rgba(0, 0, 0, 0.1);
@text-color: #333333;
@text-second-color: #999999;
@text-third-color: rgba(255,255,255,0.7);
@anniversary-primary-color: #D0021B;
@en-font: "MinionPro-SemiboldDisp";
@anniversary-font: "STSongti-SC";
.transition-all() {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}
body {
    font-family: "PingFang SC", "Helvetica Neue", 'Microsoft YaHei', sans-serif, "Microsoft JhengHei";
    font-size: 20px;
    color: black;
}
//内容区域设置最小高度，避免内容过少导致footer上移
#content {
    min-height: 500px;
}
.container-fluid {
        padding-left: 0px;
        padding-right: 0px;
}
//取消row两侧的margin
.row {
    margin-left: 0;
    margin-right: 0;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-left: 0;
    margin-right: 0;
}

//中文网站
.home  {
    .top-bg {
        padding-top: 1em;
        padding-right: 1em;
        height: 190px;
        width: 100%;
        background-image:  url(../Content/images/cn/img_logo_top.png), url(../Content/images/cn/bg_ch_top.jpg);
        background-position: center 70%, center;
        background-size: auto cover;
        background-repeat: no-repeat, no-repeat;
        a {
            color: white;
            font-size: 0.8em;
        }
        .input-group {
            input {
                border-top-left-radius: 17px;
                border-bottom-left-radius: 17px;
                background-color: rgba(255,255,255,0.2);
                border: none;
                color: white;
            }
            button {
                border-top-right-radius: 17px;
                border-bottom-right-radius: 17px;
                background-color: rgba(255,255,255,0.2);
                border: none;
                height: 34px;
                color: white;
                top: 0;
            }
        }
    }
    .navbar-default {
        border: none;
    }
    .navbar.navbar-default {
        background-color: @primary-nav-color;
        margin-bottom: 0;
        
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: @text-color;
        background-color: @primary-nav-color;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: @primary-color;
        font-size: 0.9em;
    }

    .navbar-default .navbar-nav > li > a {
        color: @text-color;
        font-size: 0.9em;
        line-height: 60px;
        padding-top: 0;
        
        height: 60px;
        
    }

     .navbar-default .navbar-nav > li:not(:last-child) {
         
        background-image: url(../Content/images/cn/img_nav_line.png);
        background-position: center right;
        background-size: 1px 18px;
        background-repeat: no-repeat;
     }

    .navbar.center .navbar-inner {
        text-align: center;
        height: 60px;
    }

    .navbar.center .navbar-inner .nav {
        display: inline-block;
        float: none;
        
    }

    .navbar-default .navbar-nav > li {
        margin: 0;
        padding-right: 0.2em;
    }
    
    .footer {
        padding: 2em 2em 1em 2em;
        width: 100%;
        background-image: url("../Content/images/cn/footer-bg.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;

        img {
            margin-bottom: 2em;
        }

        a.main-link {
            font-size: 0.9em;
            color: white;
            margin: auto 1em auto 1em;
            cursor: pointer;
            text-decoration: none;
        }

        p {
            color: rgba(255,255,255,0.7);
            margin-top: 1.5em;
            font-size: 0.7em;
            line-height: 1.75em;
        }

        hr {
            border-top: 1px solid rgba(255,255,255,0.1);
        }

        .copyright {
            font-size: 0.7em;
            color: rgba(255,255,255,0.3);
        }

        #footer li {
            display: inline;
           margin-right: 1em;
            font-size: 0.7em;
        }
        #footer li>a {
             color: rgba(255,255,255,0.3);
        }

        #footer h3 {
            font-size: 0.9em;
        }
    }
    //首页头部轮播
    #carousel-home {
        width: 100%;
        .carousel-inner .item {
            width: 100%;
            height: 56000/1920vw;
            vertical-align: middle;
	        -webkit-background-size: cover;
	        -moz-background-size: cover;
	        -o-background-size: cover;
	        background-size: cover;
            cursor: pointer;
            background-position: center center;
        }
        .carousel-caption {
            background-color: @carousel-caption-color;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 1em;
            padding-top: 18px;
            padding-bottom: 18px;
            text-shadow: none;
            text-align: left;
        }
    
        .carousel-indicators {
            left: 90%;
            right: 10%;
            width: auto;
            bottom: 10px;
        }
        .carousel-indicators-numbers {
            li {
                font-size: 0.8em;
              text-indent: 0;
              margin: 4px 0 0 0;
              width: 26px;
              height: 26px;
              border: 1px solid white;
              border-radius: 0;
              line-height: 26px;
              color: #fff;
              background-color: transparent;
              transition: all 0.25s ease;
              &.active, &:hover {
                color: @text-color;
                
                
                background-color: white;        
              }
        }
    }


    }
    //列表页
    .cn-list {
        h1 {
            color: @primary-color;
            font-size: 1.2em;
        }

        .list-group-item {
            border-left: none;
            border-right: none;
            font-size: 0.7em;
        }
        .title-name {
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 2em;
            background-image: url(../Content/images/cn/ic_new_list_content.png);
            background-repeat: no-repeat;
            background-position: left center;
        }
        .title-time {
            text-align: right;
        }
        .list-group-item:nth-child(odd) {
            background-color: #FCFCFC;
        }
        .list-group-item:first-child {
            border-radius: 0;
            border-top: 2px solid @primary-color;
        }
        .list-group-item:last-child {
            border-radius: 0;
        }
    }
    
} 

//分页控件
#pagination  {
       .pagination>li>a , .pagination>li>span {
           border: none;
           font-size: 0.7em;
           padding: 6px;
           color: @text-color;
           margin: 0 3px 0 3px;
           min-width: 28px;
           text-align: center;
           .transition-all;
       }
       .pagination>.active>a {
           color: white;
           background-color: @primary-color;
       }
       .pagination>li.first>a, .pagination>li.prev>a,.pagination>li.last>a, .pagination>li.next>a {
           color: @primary-color;
       }
    }



//中文栏目

.cn-home-columns {
    padding: 2em;
    ul.nav.nav-pills {
        border-bottom: 2px solid  @column-line-color;
    }
    ul.nav.nav-pills li {
        text-align: center;
        width: 33.333%;
        margin: 0;
    }
    .nav-pills a {
        font-size: 0.9em;
        color: black;
        border-radius: 0;
        margin: 0;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: @primary-color;
        background-color: transparent;
        border-bottom: 2px solid @primary-color;
        font-weight: bold;
    }
    .column .list-group-item {
        border-left: none;
        border-right: none;
        font-size: 0.7em;
        border-top: 1px solid @divider-color;
        background-image: url(../Content/images/cn/ic_new_list_content.png);
        background-repeat: no-repeat;
        background-position: left center;
    }
    .title-name {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .title-time {
        text-align: right;
        color: @text-second-color;
    }
    .side-column {
        padding-top: 0.5em;
        padding-left: 1.5em;
    }

    .column-header .column-title {
        font-size: 0.9em;
        text-align: left;
        background-image: url(../Content/images/cn/img_title_dot.png);
        background-repeat: no-repeat;
        background-position: left center;
    }
    .column-header .column-more {
        font-size: 0.7em;
        text-align: right;
    }
    .side-column .list-group-item {
        border-left: none;
        border-right: none;
        font-size: 0.7em;
        border-top: 1px solid @divider-color;
    
    }
}



//英文网站
.en-home {
    .navbar.navbar-default {
        background-color: @primary-color;
        margin-bottom: 0;
        border: none;
        border-radius: 0;
    }
    .navbar-brand {
       
        padding: 6px;
        
        line-height: 60px;
    }
    .navbar-brand>img {
        line-height: 60px;
    }
    .navbar-text a{
        color: white;
        text-decoration: none;
        font-size: 0.8em;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: white;
        background-color: @primary-color;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: white;
        font-size: 0.8em;
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        background-color: transparent;
    }
    .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
        color: @text-color;
        background-color: #f5f5f5;
    }
    .navbar-default .navbar-nav > li > a {
        color: white;
        font-size: 0.8em;
        height: 60px;
        
        line-height: 60px;
        padding-top: 0;
    }
    .navbar-default .navbar-nav > .active > a {
        border-bottom: 2px solid white;
    }
    .navbar-default .navbar-nav > li {
        margin: 0 0.25em 0 0.25em;
       
    }

    .btn-group .btn{
        line-height: 60px;
        padding: 0 1em 0 1em;
        border-radius: 0;
        background-color: transparent;
        color: white;
       
        border: none;
    }
    .input-group input, .input-group button {
        padding: 0 2em 0 2em;
        height: 60px;
        border-radius: 0;
        background-color: rgba(0,0,0,0.2);
        color: white;
        border: none;
        

    }
    .input-group input {
        font-size: 0.8em;
        
    }
    .navbar-form .input-group>.form-control {
        
    }
    .input-group button {
        background-repeat: no-repeat;
        background-image: url("../Content/images/ic_nav_search.png");
        background-position: center;
        background-size: 20px 20px;
        border-left: 1px solid rgba(255,255,255,0.2);
    }
    .navbar-form {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .container-fluid>.navbar-collapse {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    //carousel
    #carousel-en {
        width: 100%;
           .carousel-inner .item {
            width: 100%;
            height: 70000/1920vw;
            vertical-align: middle;
	        -webkit-background-size: cover;
	        -moz-background-size: cover;
	        -o-background-size: cover;
	        background-size: cover;
            cursor: pointer;
            background-position: center center;
            
        }

        .carousel-caption {
           left: 10%;
          
           right: initial;
           top: 50%;
           transform: translateY(-50%);
           text-align: left;
           bottom: initial;
           max-width: 590px;
           
           p {
               font-size: 2.3em;
               text-shadow: none;
               font-family:@en-font;
               word-spacing: -4px;
           }
           a.btn-primary {
               background-color: @primary-color;
               border-radius: 2px;
               padding: 1em;
               color: white;
               border: none;
           }
        }
        .carousel-control  {
            background-image: none;
            width: 8%;
            opacity: 1;
             
            text-align: center;
        }
        .carousel-control img {
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            z-index: 5;
            display: inline-block;
            left: 50%;
        }
    }
    
    .en-column {
        margin-top: 2em;
        border-bottom: 2px solid @primary-color;
        position: relative;
        .title {
            font-size: 2em;
            font-family: @en-font;
        }
        a.more {
            font-size: 0.7em;
            color: @primary-color;
            position: absolute;
            bottom: 0.5em;
            right: 1.5em;
            cursor: pointer;
        }
        
    }
    .thumbnail {
            background: #FFFFFF;
            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
            border: none;
            padding: 0;
            margin-top: 2em;
            img {
                height: 240px;
            }
            p.title {
                font-family: @en-font;
                font-size: 1em;
                overflow: hidden;
                word-wrap: break-word;
                text-overflow: ellipsis;
                line-height: 1.2em;        /* fallback */
                max-height: 2.4em;
                letter-spacing: 0px;
                word-spacing: -0.5px;
                text-align: left;
                display: block;
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            p.time {
                font-size: 0.7em;
            }
            p.content {
                font-size: 0.7em;
                overflow: hidden;
                word-wrap: break-word;
                text-overflow: ellipsis;
                line-height: 1.1em;        /* fallback */
                max-height: 3.3em;
                text-align: left;
                font-weight: lighter;
                display: block;
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            p.more a{
                font-size: 0.9em;
                font-family: @en-font;
                color: @primary-color;
                border-bottom: 2px solid @primary-color;
                text-decoration: none;
            }
        }
    .notice {
        
        .list-group {
            border-radius: 0;
           
        }
        
        .list-group-item {
            border-left: none;
            border-right: none;
            padding-top: 1em;
            padding-bottom: 4px;
            padding-left: 0;
            padding-right: 0;
            .month {
                margin: auto auto 0 auto;
                font-size: 0.9em;
                text-align: center;
            }
            .date {
                padding-top: 0;
                font-size: 1.3em;
                font-weight: lighter;
                color: @primary-color;
                text-align: center;
                padding-left: 0.15em;
            }
            .title a{
                margin: auto auto 4px auto;
                font-size: 0.7em;
                overflow: hidden;
                word-wrap: break-word;
                text-overflow: ellipsis;
                line-height: 1.25em;        /* fallback */
                max-height: 2.5em;
                text-align: left;
                display: block;
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                color: @text-color;
            }
            .time {
                font-size: 0.6em;
                color: @text-second-color;
                text-align: left;
            }
        }
        .list-group-item:first-child{
            border-top: none;
             margin-top: 2em;
             padding-top: 0;
        }
    }
    .entry {
        padding: 4px;
        margin-top: 4px;
        .content {
            position: relative;
             height: 25000/1920vw;
             background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.80) 100%),url("../Content/images/en/img_bottom.jpg");
             background-size: cover;
             p {
                 font-family: @en-font;
                 left: 50%;
                 transform: translate(-50%, 0);
                 bottom: 1em;
                 position: absolute;
                 color: white;
             }
        }
    }
    .expand-menu {
        margin-top: 4em;
        margin-bottom: 4em;
        span {
            font-family: @en-font;
            font-size: 2em;
            border-bottom: 1px solid #999999;
            padding-bottom: 4px;
            margin-top: 1em;
            margin-bottom: 0.5em;
            display: inline-block;
        }
        p>a {
            line-height: 2em;
            font-size: 0.8em;
            font-weight: lighter;
            cursor: pointer;
            color: @text-color;
        }
        
    }
    //底部栏
    .en-footer {
        padding: 0;
        width: 100%;
        color: black;
        .footer-first {
            padding: 3em 0 3em 0;
            background-image: url("../Content/images/en/img_bottom.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            h1 {
                font-size: 2em;
                color: white;
                margin-bottom: 1em;
                font-family: @en-font;
                font-weight: bold;
            }
            p {
                font-size: 0.7em;
                font-weight: 100;
                color: @text-third-color;
            }
            a {
                font-size: 0.7em;
                font-weight: 100;
                color: @text-third-color;
            }
            .contact-us {
                border-right: 1px solid rgba(255,255,255,0.2);
            }
        
        }
        .footer-links {
            padding: 3em 0 3em 0;
            background-color: #262F49;
            h1 {
            
                font-size: 2em;
                color: white;
            }
            .links a {
                font-size: 0.7em;
                font-weight: 100;
                color: @text-third-color;
                margin: 0 0.5em 0 0.5em;
                text-decoration: none;
                cursor: pointer;
            }
            .links a:not(:last-child)::after {
                content: "\00a0\00a0\00a0\00a0 | ";
            }
        }
        .copyright {
            background-color: #262F49;
            padding: 0 2em 2em 2em;
            font-size: 0.7em;
            font-weight: 100;
            color: @text-third-color;
            hr {
                border-top: 1px solid rgba(255,255,255,0.2);
            }
        }
    }
    .detail-header {
        background-color: #262F49;
        padding: 2em;
        color: white;
        .title {
            font-family: @en-font;
            font-size: 2em;
        }
        .time, .count {
            font-size: 0.8em;
            font-weight: lighter;
            
        }
        .count {
            margin-left: 4em;
        }
    }
    .detail-container {
        padding: 2em 0 2em 0;
        background-color: #FCFCFC;
        .content {
            background-color: white;
            font-size: 0.8em;
        }
    }
    .list-header {
        background-color: #262F49;
        padding: 2em 0 2em 0;
        h1 {
            color: white;
            font-family: @en-font;
            font-size: 2em;
        }
    }
    .en-list {
        .list-group {
            border-radius: 0;
            
        }
        .list-group-item {
            border-left: none;
            padding-top: 1em;
            border-right: none;
            a {
                text-decoration: none;
            }
            .title {
                font-size: 1.5em;
                font-family: @en-font;
                color: @primary-color;
                overflow: hidden;
                word-wrap: break-word;
                text-overflow: ellipsis;
                line-height: 1.2em;        /* fallback */
                max-height: 2.4em;
                text-align: left;
                display: block;
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .content {
                font-size: 0.8em;
                font-weight: lighter;
                color: @text-color;
                overflow: hidden;
                word-wrap: break-word;
                text-overflow: ellipsis;
                line-height: 1.25em;        /* fallback */
                max-height: 2.5em;
                text-align: left;
                display: block;
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-top: 1em;
            }
            .time {
                color: @text-second-color;
                font-size: 0.8em;
                font-weight: lighter;
                line-height: 2em;
            }
        }
    }
}

//院庆网站
.anniversary {
    background-color: @anniversary-primary-color;
    .navbar {
        background-color: transparent;
        border: none;
        margin-bottom: 0;
    }
    .navbar .navbar-brand {
        height: 140px;
    }
    .navbar .navbar-brand img {
        line-height: 140px;
    }
    .navbar-default .navbar-nav > li a{
        color: white;
        font-size: 0.9em;
        height: 140px;
        line-height: 140px;
        padding-top: 0;
    }
    
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        background-color: transparent;

    }
    .content {
        margin-top: -140px;
        background-color: #FCFCFC;
        min-height: 640px;
    }
    .top-bg {
        height: 721px;
        background-image: url('../Content/images/anniversary/nav-home-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .top-nav-bg {
        height: 140px;
        background-image: url('../Content/images/anniversary/nav-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .anniversary-footer {
        padding: 2em 2em 1em 2em;
        background-image: url('../Content/images/anniversary/img_bottom.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
        p{
            font-size: 0.7em;
        }
        a{
            font-size: 0.7em;
            color: white;
        }
        .copyright {
            font-size: 0.7em;
        }
        .copyright a {
            color: white;
        }
        hr {
            border-top: 1px solid rgba(255,255,255,0.3);
        }
    }
    #carousel-anniversary {
        margin-top: -240px;
        
        .carousel-inner .item {
            width: 100%;
            height: 45000/1920vw;
            min-height: 450px;
            vertical-align: middle;
	        -webkit-background-size: cover;
	        -moz-background-size: cover;
	        -o-background-size: cover;
	        background-size: cover;
            cursor: pointer;
            background-position: center center;
        }
        .carousel-indicators li {
            border: 1px solid @anniversary-primary-color;
        }
        .carousel-indicators li.active {
            background-color: @anniversary-primary-color;
            border: none;
        }
        .carousel-control  {
            background-image: none;
            width: 5%;
            opacity: 1;
        }
        
        .carousel-control img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            z-index: 5;
            display: inline-block;
            padding: 0.75em 1em 0.75em 1em;
            background-color: @anniversary-primary-color;
           
        }
    }
    
    .banner1, .banner2 {
        background: #FFFFFF;
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.03);
        margin-top: 2em;
        .img-title {
            margin-top: -1em;
            margin-left: 1em;
        }
        .img-number {
            margin-top: -2em;
            margin-right: 0.5em;
        }
        .list-group {
            
            padding: 0 1em 0 1em;
        }
        .list-group-item {
            border-left: none;
            border-right: none;
            border-radius: 0;
            font-size: 0.7em;
            padding-right: 0;
            background-image: url(../Content/images/anniversary/img_list_dot.png);
            background-repeat: no-repeat;
            background-position: left center;
            .title-name {
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                    color: @text-color;
                }
            }
            
            .title-time {
                text-align: right;
                color: @text-second-color;
            }
        }
        .list-group-item:first-child {
            border-top: none;
        }
        p.more a{
            color: @anniversary-primary-color;
            font-size: 0.8em;
            text-decoration: none;
            margin: 0 1em 1em 0;
            display: inline-block;
            cursor: pointer;
            font-weight: bold;
            border-bottom: 2px solid @anniversary-primary-color;
            padding-bottom: 3px;
        }
    }
    .banner2 {
        margin-top: 4em;
    }
    .donation {
        padding: 2em 2em 3em 2em;
        margin-left: 1em;
        background-color: white;
        color: @anniversary-primary-color;
        background-image: url(../Content/images/anniversary/img_donation_pattern_top_1.png),url(../Content/images/anniversary/img_donation_pattern_top_2.png),url(../Content/images/anniversary/img_donation_pattern_bottom_1.png),url(../Content/images/anniversary/img_donation_pattern_bottom_2.png), url(../Content/images/anniversary/img_donation_90.png);
        background-position: 5% 5%, 95% 5%, 5% 95%, 95% 95%, 70% 90%;
        background-repeat: no-repeat;
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.03);
        font-family: @anniversary-font;
        font-weight: bold;
        #news-ticker {
            padding-left: 8px;
            
            list-style-type: none;
            list-style: none;
        }
        #news-ticker li {
            font-size: 0.8em;
            
        }
        .title {
            margin: 1em;
            text-align: center;
            font-size: 1.5em;
        }
        hr {
            border-top: 1px solid rgba(0,0,0,0.15);
            margin-left: 1em;
            margin-right: 1em;
            margin-bottom: 2em;
        }
        .name {
            display: inline-block;
            text-align: left;
            width: 45%;
            
        }
        .fund {
            display: inline-block;
            text-align: left;
            width: 25%;
            
        }
        .time {
            display: inline-block;
            text-align: right;
            width: 20%;
            white-space: nowrap;
        
        }
    }
    .banner3, .banner4 {
        background: white;
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.03);
        margin-top: 4em;
        margin-left: 1em;
        
        .img-cover {
            margin-top: -1em;
            margin-left: -1em;
            
        }
        .img-title {
           margin-top: 2.5em;
            margin-right: 1em;
        }
        .img-number {
            margin-top: -2em;
            margin-right: 0.5em;
            
        }
        .list-group {
           display: block;
            padding: 0 1em 0 1em;
        }
        .list-group-item {
            border-left: none;
            border-right: none;
            border-radius: 0;
            font-size: 0.7em;
            padding-right: 0;
            background-image: url(../Content/images/anniversary/img_list_dot.png);
            background-repeat: no-repeat;
            background-position: left center;
            .title-name {
                
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                    color: @text-color;

                }
            }
            
            .title-time {
                text-align: right;
                color: @text-second-color;
            }
        }
        .list-group-item:first-child {
            border-top: none;
        }
        p.more a{
            color: @anniversary-primary-color;
            font-size: 0.8em;
            font-weight: bold;
            text-decoration: none;
            margin: 0 1em 1em 0;
            display: inline-block;
            cursor: pointer;
            border-bottom: 2px solid @anniversary-primary-color;
            padding-bottom: 3px;
        }

        
    }
    .frame {
	        height: 210px;
	        line-height: 210px;
	        overflow: hidden;
            background-image: url(../Content/images/anniversary/bg_picture_film.jpg);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
            padding: 0;
        
        }
        .frame ul {
	        list-style: none;
	        margin: 0;
	        padding: 0;
	        height: 100%;
	        font-size: 50px;
        
        }
        .frame ul li {
	        float: left;
	        width: auto;
            margin-right: 1em;
	        height: 210px;
	        padding: 0 0 0 0;
	        color: #ddd;
	        text-align: center;
	        cursor: pointer;
            position: relative;
        
            a.text-content {
              width: 100%;
          
              max-width: 400px;
              right: 0;
              top: 37px;
              bottom: 10px;
              left: 0;
              color: white;
              cursor: pointer;
              text-decoration: none;
              height: 150px;
              max-height: 150px;
              position: absolute;
              background: rgba(208,1,27,0.80);
              font-size: 0.4em;
              opacity: 0;
              text-wrap: normal;
              font-family: @anniversary-font;
              font-weight: bold;
          
              letter-spacing: 0px;
              text-shadow: 0px 2px 3px rgba(0,0,0,0.40);
              .transition-all;
            }

    
        }
        .frame ul li:hover a.text-content {
              opacity: 1;
        }

        .crazy {
            img {
                display: inline-block;
                margin: 0;
                width: auto;
                height: 150px;
                line-height: 150px;
                max-width: 400px;
            }
        
        
        }
        .photo-gallery {
            position: relative;
            .btn-forward {
                padding: 1em;
                background-color: @anniversary-primary-color;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: auto;
                z-index: 5;
                cursor: pointer;
            }
            .btn-backward {
                padding: 1em;
                background-color: @anniversary-primary-color;
                position: absolute;
                left: 0;
                top: 50%;
               transform: translateY(-50%);
               width: auto;
               z-index: 5;
               cursor: pointer;
            }
        }
        .detail-header {
            background-color: #FCFCFC;
            
            .container {
                background-color: white;
            }
            .title {
                font-size: 1.3em;
                color: @anniversary-primary-color;
                margin-top: 2em;
            }
            .author, .time, .count {
                font-size: 0.7em;
                color: @text-second-color;
            }
        }
        .detail-container {
            background-color: #FCFCFC;
            .container {
                background-color: white;
                padding-top: 2em;
                padding-bottom: 2em;
            }
        }
        .anniversary-list {
            h1 {
                color: @anniversary-primary-color;
                font-size: 1.2em;
            }

            .list-group-item {
                border-left: none;
                border-right: none;
                font-size: 0.7em;
                .title-name {
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-left: 2em;
                    background-image: url(../Content/images/anniversary/img_list_dot.png);
                    background-repeat: no-repeat;
                    background-position: left center;
                   
                }
                a .title-name {
                    color: @text-color;
                }
                a .title-time {
                    color: @text-second-color;
                }
                .title-time {
                    text-align: right;
                }
            }
            
            .list-group-item:nth-child(odd) {
                background-color: #FCFCFC;
            }
            .list-group-item:first-child {
                border-radius: 0;
                border-top: 2px solid @anniversary-primary-color;
            }
            .list-group-item:last-child {
                border-radius: 0;
            }
            #pagination  {
               .pagination>li>a , .pagination>li>span {
                   border: none;
                   font-size: 0.7em;
                   padding: 6px;
                   color: @text-color;
                   margin: 0 3px 0 3px;
                   min-width: 28px;
                   text-align: center;
                   .transition-all;
               }
               .pagination>.active>a {
                   color: white;
                   background-color: @anniversary-primary-color;
               }
               .pagination>li.first>a, .pagination>li.prev>a,.pagination>li.last>a, .pagination>li.next>a {
                   color: @anniversary-primary-color;
               }
            }
        }
}
//移动端适配
@media only screen
and (max-device-width: 768px) {
    .cn-home-columns .nav-pills a {
        font-size: 0.9em;
        color: black;
        border-radius: 0;
       
    }
}
@media only screen
and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {
    .navbar button.navbar-toggle {
            background-color: transparent;
            border: none;
        }
    .navbar-default .navbar-toggle .icon-bar {
            background-color: white;
    }
    .navbar .collapse, .navbar .collapsing {
            float: none !important;
            border: none;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    //中文
    .home {
        .navbar-default {
            border: none;
            z-index: 999 !important;
        }
        .navbar.navbar-default {
            background-color: @primary-color;
            margin-bottom: 0;
        
        }
        .navbar-brand {
            padding: 0;
        }
        .navbar-default .navbar-nav > li > a {
            color: white;
        }
        .navbar-default .navbar-collapse {
            background-color: @primary-color;
            
        }
        .navbar.center .navbar-inner {
            text-align: left;
            height: 40px;
        }

        .navbar.center .navbar-inner .nav {
            display: block;
            float: none;
        }
        .footer img {
            width: 182px;
            height: 29px;
        }
        #carousel-home {
            .carousel-inner .item {
                height: 300px;
            }
            .carousel-caption {
                font-size: 1em;
                text-align: left;
            }
            .carousel-indicators {
                left: 90%;
                right: 10%;
                width: auto;
                bottom: 0px;
            }
        }
        
    }
    

    //英文
    .en-home {
        .navbar-default .navbar-nav > .active > a {
            border: none;
        }
        .navbar-nav {
            margin: 0;
        }
        .navbar-form {
            padding: 0;
            margin: 0;
        }
        #carousel-en {
            .carousel-inner .item {
                height: 300px;
            }
            .carousel-caption {
                margin-left: 0;
                width: 80%;
                p {
                    font-size: 1.2em;
                }
                a.btn-primary {
                    font-size: 0.5em;
                }
            }
        }
        .entry {
            .content {
                height: 25000/632vw;
            }
        }
    }
    .en-footer {
        .footer-first {
            padding: 1em 0 1em 0;
        }
        .footer-first img {
            
             width: 98px;
             height: 117.5px;
        }
    }
    //院庆
    .anniversary {
        .navbar .navbar-brand img{
            width: 193px;
            height: 48px;
            
        }
        .navbar-brand {
            padding: 0;
        }
        .top-bg {
            height: 400px;
        }
        #carousel-anniversary {
            margin-top: -100px;
            .carousel-inner .item {
                height: 250px;
                min-height: 250px;
            }
        }
        
        .donation {
            padding: 1em;
            margin-left: 0;
        }
        .navbar .navbar-brand {
            height: 50px;
        }
        .navbar .navbar-brand img {
            line-height: 50px;
        }
        .navbar-default .navbar-nav > li > a {
            color: white;
            font-size: 1em;
            height: 50px;
            line-height: 50px;
            padding-top: 0;
            
        }
        
        .anniversary-footer .logo {
           margin-top: 1em;
            width: 182.5px;
            height: 29px;
        }
    }
}