body {
  font-family: "PingFang SC", "Helvetica Neue", 'Microsoft YaHei', sans-serif, "Microsoft JhengHei";
  font-size: 20px;
  color: #333333;
  min-height: 100%;
}
body #layout-wrapper {
  flex-flow: column;
  min-height: 100vh;
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-flow: column;
  -webkit-flex-flow: column;
  flex-direction: column;
}
#content {
  background-color: #fafafa;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-left: 0;
  margin-right: 0;
}
.dropdown .dropdown-menu {
  display: block;
  opacity: 0;
  -moz-transition: all 1000ms ease;
  -webkit-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
.dropdown:hover > ul.dropdown-menu {
  display: block;
  opacity: 1;
}
.dropdown-submenu:hover > ul.dropdown-menu {
  display: block;
  opacity: 1;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.home {
  background-color: #fafafa;
  flex: 1 0 auto;
}
.home #content {
  background-color: #FAFAFA;
}
.home .top-bg {
  padding-top: 1em;
  padding-right: 1em;
  height: 190px;
  width: 100%;
  background-image: url(../Content/images/cn/img_logo_top.png), url(../Content/images/cn/bg_ch_top.jpg);
  background-position: center 70%, center;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
}
.home .top-bg a {
  color: white;
  font-size: 0.8em;
}
.home .top-bg .input-group {
  display: none;
}
.home .top-bg .input-group input {
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
}
.home .top-bg .input-group button {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  height: 34px;
  color: white;
  top: 0;
}
.home .navbar-default {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.home .navbar.navbar-default {
  background-color: white;
  margin-bottom: 0;
}
.home .navbar-default .navbar-nav > .active > a,
.home .navbar-default .navbar-nav > .active > a:focus,
.home .navbar-default .navbar-nav > .active > a:hover {
  color: #333333;
  background-color: white;
}
.home .navbar-default .navbar-nav > li > a:focus,
.home .navbar-default .navbar-nav > li > a:hover {
  color: #2D44AA;
  font-size: 0.9em;
}
.home .navbar-default .navbar-nav > li > a {
  color: #333333;
  font-size: 0.9em;
  line-height: 60px;
  padding-top: 0;
  height: 60px;
}
.home .navbar-default .navbar-nav > li:not(:last-child) {
  background-image: url(../Content/images/cn/img_nav_line.png);
  background-position: center right;
  background-size: 1.5px 16px;
  background-repeat: no-repeat;
}
.home .navbar.center .navbar-inner {
  text-align: center;
  height: 60px;
}
.home .navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none;
}
.home .navbar-default .navbar-nav > li {
  margin: 0;
  padding-right: 0.2em;
}
.home .navbar-nav > li > .dropdown-menu {
  background-color: #2D44AA;
  min-width: 102px;
}
.home .dropdown-menu > li > a {
  color: white;
}
.home .dropdown-menu > li:hover {
  background-color: #2D44AA;
  color: white;
}
.home .dropdown-menu > li > a:hover {
  background-color: #2D44AA;
  color: white;
}
.home .dropdown-menu li {
  background-color: #2D44AA;
  color: white;
}
.home .dropdown-submenu .dropdown-menu {
  background-color: #2D44AA;
}
.home .dropdown-submenu .dropdown-menu > li > a {
  background-color: #2D44AA;
  color: white;
}
.home .dropdown-submenu .dropdown-menu > li:hover {
  background-color: #2D44AA;
  color: white;
}
.home .dropdown-submenu .dropdown-menu > li > a:hover {
  background-color: #2D44AA;
  color: white;
}
.home .dropdown-submenu .dropdown-menu li {
  background-color: #2D44AA;
  color: white;
}
.home .column hr {
  margin-top: 16px;
  border-top: 2px solid #2D44AA;
}
.home .column .header .title {
  font-size: 0.9em;
  text-align: left;
  background-image: url(../Content/images/cn/ic_title.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 19px 20px;
  padding-left: 24px;
}
.home .column .more {
  font-size: 0.6em;
  float: right;
  line-height: 25px;
  color: #999999;
}
.home .column .more a {
  color: #666;
}
.home .column .list-group {
  padding-left: 0;
  padding-right: 0;
}
.home .column .list-group .list-group-item {
  padding-left: 0;
  padding-right: 0;
  border-right: none;
  border-left: none;
  border-radius: 0;
}
.home .column .list-group .list-group-item .name {
  font-size: 0.7em;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.home .column .list-group .list-group-item .name a {
  color: #333333;
  padding-left: 1.5em;
  background-image: url(../Content/images/cn/ic_new_list_content.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}
.home .column .list-group .list-group-item .name a.title {
  background-image: none;
  padding-left: 0;
}
.home .column .list-group .list-group-item .name .topic {
  color: #2D44AA;
}
.home .column .list-group .list-group-item .time {
  font-size: 0.7em;
  color: #999999;
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}
.home .column .list-group .list-group-item:first-child {
  border-top: none;
  margin-top: -12px;
}
.home .column-medium {
  margin-top: 2em;
  padding: 1em;
  background-color: white;
}
.home .column-larger {
  margin-top: 2em;
  padding: 1em;
  background-color: white;
}
.home .column-smaller {
  margin-top: 2em;
  padding: 1em;
  background-color: white;
}
.home .column-smaller .list-group .list-group-item {
  padding-top: 26px;
  padding-bottom: 26px;
}
.home .column-smaller .list-group .list-group-item .title {
  font-size: 0.9em;
  margin-bottom: 5px;
  font-family: "PingFangSC-Medium", 'Microsoft YaHei';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home .column-smaller .list-group .list-group-item .title a {
  color: #333333;
}
.home .column-smaller .list-group .list-group-item .author {
  font-size: 0.75em;
  color: white;
  background-color: #2D44AA;
  padding: 4px;
}
.home .column-smaller .list-group .list-group-item .location {
  font-size: 0.7em;
  background-image: url(../Content/images/cn/ic_place.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 20px;
  padding-left: 1.5em;
  margin-left: 12px;
}
.home .column-smaller .list-group .list-group-item .time {
  font-size: 0.7em;
  background-image: url(../Content/images/cn/ic_time.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 20px;
  padding-left: 1.5em;
  margin-left: 12px;
}
.home .column-smaller .list-group .list-group-item:first-child {
  margin-top: -14px;
}
.home .logreg label {
  font-size: 0.7em;
}
.home .logreg .btn-primary {
  background-color: #2D44AA;
  border: none;
  border-radius: 0;
}
.home #carousel-home {
  width: 100%;
}
.home #carousel-home .carousel-inner .item {
  width: 100%;
  height: 29.16666667vw;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  background-position: center center;
}
.home #carousel-home .carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1em;
  padding-top: 18px;
  padding-bottom: 18px;
  text-shadow: none;
  text-align: left;
}
.home #carousel-home .carousel-indicators {
  left: 80%;
  right: 12%;
  width: auto;
  bottom: 10px;
}
.home #carousel-home .carousel-indicators-numbers li {
  font-size: 0.8em;
  text-indent: 0;
  margin: 4px 0 0 0;
  width: 26px;
  height: 26px;
  border: 1px solid white;
  border-radius: 0;
  line-height: 26px;
  color: #fff;
  background-color: transparent;
  transition: all 0.25s ease;
}
.home #carousel-home .carousel-indicators-numbers li.active,
.home #carousel-home .carousel-indicators-numbers li:hover {
  color: #333333;
  background-color: white;
}
.home .carousel-medium {
  width: 100%;
}
.home .carousel-medium .carousel-indicators {
  background-color: rgba(0, 0, 0, 0.5);
  width: 58px;
  height: auto;
  left: auto;
  right: 10px;
  height: 15px;
  padding: 0 4px;
  bottom: 30px;
  border-radius: 7.5px;
}
.home .carousel-medium .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 0;
  margin-bottom: 10px;
}
.home .carousel-medium .carousel-indicators li.active {
  width: 7px;
  height: 7px;
  margin-bottom: 10px;
}
.home .carousel-medium .carousel-inner .item {
  width: 100%;
  height: 326px;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  background-position: center center;
}
.home .carousel-medium .carousel-inner .item .carousel-caption {
  left: 0;
  bottom: 0;
  right: initial;
  background-color: white;
  padding: 4px 0 0 0 ;
  width: 100%;
}
.home .carousel-medium .carousel-inner .item .carousel-caption p {
  color: #2D44AA;
  font-size: 0.65em;
  text-shadow: none;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1.5em;
  background-image: url(../Content/images/cn/ic_new_list_content.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}
.home .carousel-shows {
  width: 100%;
}
.home .carousel-shows .carousel-indicators {
  height: auto;
  left: 50%;
  right: 50%;
  height: 15px;
  padding: 0 4px;
  bottom: 0.5em;
  border-radius: 7.5px;
}
.home .carousel-shows .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 0;
}
.home .carousel-shows .carousel-indicators li.active {
  width: 7px;
  height: 7px;
}
.home .carousel-shows .carousel-inner .item {
  width: 100%;
  height: 326px;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  background-position: center center;
}
.home .carousel-shows .carousel-inner .item .carousel-caption {
  left: 0;
  bottom: 0;
  right: initial;
  background: rgba(45, 69, 168, 0.7);
  padding: 0.5em 1em;
  width: 100%;
}
.home .carousel-shows .carousel-inner .item .carousel-caption p {
  color: white;
  font-size: 0.65em;
  text-shadow: none;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
  text-decoration: underline;
}
.home .carousel-shows .carousel-inner .item .carousel-caption p.title {
  font-size: 0.9em;
  text-decoration: none;
}
.home .news-container-left {
  padding: 0;
}
.home .news-container-right {
  padding-right: 0;
}
.home .cn-blocks img {
  margin-bottom: 2em;
  margin-top: 2em;
}
.home .cn-list h1 {
  color: #2D44AA;
  font-size: 1.2em;
}
.home .cn-list .list-group-item {
  border-left: none;
  border-right: none;
  font-size: 0.7em;
}
.home .cn-list .title-name {
  color: #333333;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2em;
  background-image: url(../Content/images/cn/ic_new_list_content.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.home .cn-list .title-time {
  color: #999999;
  text-align: right;
}
.home .cn-list .list-group-item:nth-child(odd) {
  background-color: #FAFAFA;
}
.home .cn-list .list-group-item:first-child {
  border-radius: 0;
  border-top: 2px solid #2D44AA;
}
.home .cn-list .list-group-item:last-child {
  border-radius: 0;
}
.home .detail-header {
  background-color: #FAFAFA;
}
.home .detail-header .container {
  background-color: white;
}
.home .detail-header .title {
  font-size: 1.3em;
  color: #2D44AA;
  margin-top: 2em;
}
.home .detail-header .author,
.home .detail-header .time,
.home .detail-header .count {
  font-size: 0.7em;
  color: #999999;
}
.home .detail-container {
  background-color: #FAFAFA;
}
.home .detail-container .container {
  background-color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 0.7em;
}
.home .detail-container .container img {
  max-width: 100% !important;
  height: auto !important;
}
.home .detail-container .container table tr > td:first-child {
  width: 160px;
}
.home-footer.footer {
  color: white;
}
.home-footer.footer hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.home-footer.footer .footer-entry {
  width: 100%;
  background-image: url(../Content/images/cn/bg_ch_buttom.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 4em;
  padding-bottom: 4em;
}
.home-footer.footer .footer-entry .main-link {
  margin-right: 1em;
  color: white;
  font-size: 0.9em;
  margin-bottom: 2em;
  display: inline-block;
}
.home-footer.footer .footer-entry p {
  font-size: 0.7em;
  font-weight: lighter;
  margin-top: 1em;
}
.home-footer.footer .footer-entry p > a {
  font-size: 0.7em;
  font-weight: normal;
  color: white;
}
.home-footer.footer .footer-links {
  background: #262F49;
  padding: 1em 0 0 1em;
}
.home-footer.footer .footer-links h1 {
  font-size: 0.9em;
}
.home-footer.footer .footer-links a {
  font-size: 0.6em;
  font-weight: lighter;
  color: white;
}
.home-footer.footer .footer-links hr {
  margin-bottom: 0;
}
.home-footer.footer .copyright {
  background: #262F49;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.6em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.home-footer.footer .copyright a {
  color: rgba(255, 255, 255, 0.4);
}
#pagination .pagination > li > a,
#pagination .pagination > li > span {
  border: none;
  font-size: 0.7em;
  padding: 6px;
  color: #333333;
  margin: 0 3px 0 3px;
  min-width: 28px;
  text-align: center;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
#pagination .pagination > .active > a {
  color: white;
  background-color: #2D44AA;
}
#pagination .pagination > li.first > a,
#pagination .pagination > li.prev > a,
#pagination .pagination > li.last > a,
#pagination .pagination > li.next > a {
  color: #2D44AA;
}
.en-home {
  background-color: #fafafa;
  flex: 1;
}
.en-home .navbar.navbar-default {
  background-color: #2D44AA;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
.en-home .navbar-brand {
  padding: 6px;
  height: 60px;
  line-height: 60px;
}
.en-home .navbar-brand > img {
  line-height: 60px;
  height: 43px;
}
.en-home .navbar-text a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}
.en-home .navbar-default .navbar-nav > .active > a,
.en-home .navbar-default .navbar-nav > .active > a:focus,
.en-home .navbar-default .navbar-nav > .active > a:hover {
  color: white;
  background-color: #2D44AA;
  font-weight: bolder;
}
.en-home .navbar-default .navbar-nav > li > a {
  background-image: url(../Content/images/en/img_nav_title_select.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 45px 0px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.en-home .navbar-default .navbar-nav > li > a:focus,
.en-home .navbar-default .navbar-nav > li > a:hover {
  color: white;
  font-size: 0.8em;
  font-weight: bolder;
  background-image: url(../Content/images/en/img_nav_title_select.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 45px 4px;
}
.en-home .navbar-default .navbar-nav > .open > a,
.en-home .navbar-default .navbar-nav > .open > a:focus,
.en-home .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}
.en-home .dropdown-menu {
  min-width: 0px;
  background-color: #2D44AA;
}
.en-home .dropdown-menu > .active > a,
.en-home .dropdown-menu > .active > a:focus,
.en-home .dropdown-menu > .active > a:hover {
  color: white;
  background-color: #20317B;
}
.en-home .dropdown-menu > li > a {
  color: white;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.en-home .dropdown-menu > li > a:focus,
.en-home .dropdown-menu > li > a:hover {
  color: white;
  background-color: #20317B;
}
.en-home .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: white;
}
.en-home .navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 0.8em;
  font-weight: bolder;
  height: 60px;
  line-height: 60px;
  padding-top: 0;
  margin-right: 1em;
}
.en-home .navbar-default .navbar-nav > li {
  margin: 0 0.25em 0 0.25em;
}
.en-home .dropdown.last > .dropdown-menu {
  right: 0;
  left: auto;
}
.en-home .btn-group .btn {
  line-height: 60px;
  padding: 0 1em 0 1em;
  border-radius: 0;
  background-color: transparent;
  color: white;
  border: none;
}
.en-home .input-group input,
.en-home .input-group button {
  padding: 0 2em 0 2em;
  height: 60px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
}
.en-home .input-group input {
  font-size: 0.8em;
}
.en-home .input-group button {
  background-repeat: no-repeat;
  background-image: url("../Content/images/ic_nav_search.png");
  background-position: center;
  background-size: 20px 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.en-home .navbar-form {
  display: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.en-home .container-fluid > .navbar-collapse {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.en-home #carousel-en {
  width: 100%;
}
.en-home #carousel-en .carousel-inner .item {
  width: 100%;
  height: 33.85416667vw;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  background-position: center center;
}
.en-home #carousel-en .carousel-caption {
  left: 10%;
  right: initial;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  text-align: left;
  bottom: initial;
  max-width: 590px;
}
.en-home #carousel-en .carousel-caption p {
  font-size: 2.3em;
  text-shadow: none;
  font-family: "MinionPro-SemiboldDisp", Times New Roman;
}
.en-home #carousel-en .carousel-caption a.btn-primary {
  background-color: #2D44AA;
  border-radius: 2px;
  padding: 0.9em;
  color: white;
  border: none;
  background-image: url(../Content/images/en/ic_banner_read_more.png);
  background-position: 89% center;
  background-repeat: no-repeat;
  background-size: 11px 17px;
  padding-right: 2em;
  font-size: 1em;
}
.en-home #carousel-en .carousel-control {
  background-image: none;
  width: 8%;
  opacity: 1;
  text-align: center;
}
.en-home #carousel-en .carousel-control img {
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
  z-index: 5;
  display: inline-block;
  left: 50%;
}
.en-home .en-column-container {
  padding-left: 2em;
}
.en-home .en-column {
  margin-top: 2em;
  border-bottom: 2px solid #2D44AA;
  position: relative;
}
.en-home .en-column .title {
  font-size: 2em;
  font-family: "MinionPro-SemiboldDisp", Times New Roman;
}
.en-home .en-column a.more {
  font-size: 0.7em;
  color: #2D44AA;
  position: absolute;
  bottom: 0.5em;
  right: 1.5em;
  cursor: pointer;
  background-image: url(../Content/images/en/ic_news_all.png);
  background-size: 14px 14px;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 1.5em;
}
.en-home .thumbnail {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  border: none;
  padding: 0;
  margin-top: 2em;
  min-height: 462.88px;
}
.en-home .thumbnail .img-container {
  width: 100%;
  height: 240px;
}
.en-home .thumbnail .caption {
  padding: 1em;
}
.en-home .thumbnail p.title a {
  color: #333333;
  font-family: "MinionPro-SemiboldDisp", Times New Roman;
  font-weight: bolder;
  font-size: 1em;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  line-height: 1.2em;
  /* fallback */
  max-height: 2.4em;
  letter-spacing: 0px;
  word-spacing: -0.5px;
  text-align: left;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.en-home .thumbnail p.time {
  font-size: 0.7em;
  font-weight: lighter;
}
.en-home .thumbnail p.content {
  margin-top: 1em;
  font-size: 0.7em;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  line-height: 1.1em;
  /* fallback */
  max-height: 3.3em;
  text-align: left;
  font-weight: lighter;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.en-home .thumbnail p.more {
  position: absolute;
  bottom: 1.5em;
  left: 1.8em;
}
.en-home .thumbnail p.more a {
  font-size: 0.9em;
  font-family: "MinionPro-SemiboldDisp", Times New Roman;
  color: #2D44AA;
  border-bottom: 2px solid #2D44AA;
  text-decoration: none;
}
.en-home .notice .list-group {
  border-radius: 0;
}
.en-home .notice .list-group-item {
  border-left: none;
  border-right: none;
  padding-top: 1em;
  padding-bottom: 4px;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}
.en-home .notice .list-group-item .month {
  margin: auto auto 0 auto;
  font-size: 0.9em;
  text-align: center;
}
.en-home .notice .list-group-item .date {
  padding-top: 0;
  font-size: 1.3em;
  font-weight: lighter;
  color: #2D44AA;
  text-align: center;
  padding-left: 0.15em;
}
.en-home .notice .list-group-item .title a {
  margin: auto auto 4px auto;
  font-size: 0.7em;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  line-height: 1.25em;
  /* fallback */
  max-height: 2.5em;
  text-align: left;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #333333;
}
.en-home .notice .list-group-item .time {
  font-size: 0.6em;
  color: #999999;
  text-align: left;
}
.en-home .notice .list-group-item:first-child {
  border-top: none;
  margin-top: 2em;
  padding-top: 0;
}
.en-home .notice .list-group-item:last-child {
  border-radius: 0;
}
.en-home .en-sections {
  margin-top: 2em;
}
.en-home .entry {
  padding: 3px;
  margin-top: 0;
}
.en-home .entry .content {
  position: relative;
  height: 13.02083333vw;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url("../Content/images/en/img_bottom.jpg");
  background-size: cover;
}
.en-home .entry .content p {
  font-family: "MinionPro-SemiboldDisp", Times New Roman;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  bottom: 0.25em;
  position: absolute;
  color: white;
  text-align: center;
}
.en-home .expand-menu {
  margin-top: 2em;
  margin-bottom: 2em;
}
.en-home .expand-menu span {
  font-family: "MinionPro-SemiboldDisp", Times New Roman;
  font-size: 2em;
  border-bottom: 1px solid #999999;
  padding-bottom: 4px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  display: inline-block;
}
.en-home .expand-menu p {
  margin: 0;
}
.en-home .expand-menu p > a {
  line-height: 1em;
  font-size: 0.8em;
  font-weight: lighter;
  cursor: pointer;
  color: #333333;
}
.en-home .detail-header {
  background-color: #262F49;
  padding: 2em;
  color: white;
}
.en-home .detail-header .title {
  font-family: "MinionPro-SemiboldDisp", Times New Roman;
  font-size: 2em;
}
.en-home .detail-header .time,
.en-home .detail-header .count {
  font-size: 0.8em;
  font-weight: lighter;
}
.en-home .detail-header .time a {
  color: white;
}
.en-home .detail-header .count {
  margin-left: 4em;
}
.en-home .detail-container {
  padding: 0 0 0 0;
  background-color: #FAFAFA;
}
.en-home .detail-container .content {
  background-color: white;
  font-size: 0.8em;
  padding: 50px 190px;
}
.en-home .detail-container .content img {
  max-width: 100% !important;
  height: auto !important;
}
.en-home .list-header {
  background-color: #262F49;
  padding: 2em 0 2em 0;
}
.en-home .list-header h1 {
  color: white;
  font-family: "MinionPro-SemiboldDisp", Times New Roman;
  font-size: 2em;
}
.en-home .en-list .list-group {
  border-radius: 0;
}
.en-home .en-list .list-group-item {
  border-left: none;
  padding-top: 1em;
  border-right: none;
}
.en-home .en-list .list-group-item a {
  text-decoration: none;
}
.en-home .en-list .list-group-item .title {
  font-size: 1.5em;
  font-family: "MinionPro-SemiboldDisp", Times New Roman;
  color: #2D44AA;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  line-height: 1.2em;
  /* fallback */
  max-height: 2.4em;
  text-align: left;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.en-home .en-list .list-group-item .content {
  font-size: 0.8em;
  font-weight: lighter;
  color: #333333;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  line-height: 1.25em;
  /* fallback */
  max-height: 2.5em;
  text-align: left;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 1em;
}
.en-home .en-list .list-group-item .time {
  color: #999999;
  font-size: 0.8em;
  font-weight: lighter;
  line-height: 2em;
}
.en-home .thumbnail.teacher-list-item {
  min-height: 200px;
  max-height: 200px;
  margin: 0;
  float: left;
  box-shadow: none;
  margin-top: 2em;
}
.en-home .thumbnail.teacher-list-item img {
  width: 150px;
  height: 150px;
}
.en-home .thumbnail.teacher-list-item p {
  text-align: center;
}
.en-footer {
  padding: 0;
  color: black;
}
.en-footer .footer-first {
  padding: 1em 0 1em 0;
  background-image: url("../Content/images/en/img_bottom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.en-footer .footer-first img {
  width: 148.8px;
  height: 188px;
}
.en-footer .footer-first h1 {
  font-size: 2em;
  color: white;
  margin-bottom: 0.7em;
  font-family: "MinionPro-SemiboldDisp", Times New Roman;
}
.en-footer .footer-first p {
  font-size: 0.7em;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
}
.en-footer .footer-first a {
  font-size: 0.7em;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.en-footer .footer-first a:hover,
.en-footer .footer-first a:focus {
  color: white;
}
.en-footer .footer-first .contact-us {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.en-footer .footer-links {
  padding: 1em 0 1em 0;
  background-color: #262F49;
}
.en-footer .footer-links h1 {
  font-family: "MinionPro-SemiboldDisp", Times New Roman;
  font-size: 2em;
  color: white;
}
.en-footer .footer-links .links a {
  font-size: 0.7em;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0.5em 0 0.5em;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.en-footer .footer-links .links a:not(:last-child)::after {
  content: "\00a0\00a0\00a0\00a0 | ";
}
.en-footer .footer-links .links a:hover,
.en-footer .footer-links .links a:focus {
  color: white;
}
.en-footer .copyright {
  background-color: #262F49;
  padding: 0 2em 2em 2em;
  font-size: 0.7em;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
}
.en-footer .copyright hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.en-footer .copyright a {
  color: rgba(255, 255, 255, 0.7);
}
.anniversary {
  flex: 1;
  background-color: #FAFAFA;
}
.anniversary .navbar {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  background-image: url(../Content/images/anniversary/nav-logo.png);
  background-position: 4% center;
  background-repeat: no-repeat;
}
.anniversary .navbar .navbar-brand {
  height: 140px;
}
.anniversary .navbar .navbar-brand img {
  line-height: 140px;
}
.anniversary .navbar-default .navbar-nav > li a {
  color: white;
  font-size: 0.9em;
  height: 140px;
  line-height: 140px;
  padding-top: 0;
}
.anniversary .navbar-default .navbar-nav > .active > a,
.anniversary .navbar-default .navbar-nav > .active > a:focus,
.anniversary .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
}
.anniversary .content {
  margin-top: -140px;
  background-color: #FAFAFA;
  min-height: 640px;
}
.anniversary .top-bg {
  height: 633px;
  background-image: url('../Content/images/anniversary/nav-home-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.anniversary .top-nav-bg {
  height: 140px;
  background-image: url('../Content/images/anniversary/nav-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.anniversary #carousel-anniversary {
  margin-top: -240px;
}
.anniversary #carousel-anniversary .carousel-inner .item {
  width: 100%;
  height: 23.4375vw;
  min-height: 450px;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  background-position: center center;
}
.anniversary #carousel-anniversary .carousel-indicators li {
  border: 1px solid #D0021B;
}
.anniversary #carousel-anniversary .carousel-indicators li.active {
  background-color: #D0021B;
  border: none;
}
.anniversary #carousel-anniversary .carousel-control {
  background-image: none;
  width: 4.8%;
  opacity: 1;
}
.anniversary #carousel-anniversary .carousel-control img {
  text-overflow: clip;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
  z-index: 5;
  display: inline-block;
  padding: 0.75em 1em 0.75em 1em;
  background-color: #D0021B;
}
.anniversary .banner1,
.anniversary .banner2 {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  margin-top: 2em;
}
.anniversary .banner1 .img-title,
.anniversary .banner2 .img-title {
  margin-top: -1em;
  margin-left: 1em;
}
.anniversary .banner1 .img-number,
.anniversary .banner2 .img-number {
  margin-top: -2em;
  margin-right: 0.5em;
}
.anniversary .banner1 .list-group,
.anniversary .banner2 .list-group {
  padding: 0 1em 0 1em;
}
.anniversary .banner1 .list-group-item,
.anniversary .banner2 .list-group-item {
  border-left: none;
  border-right: none;
  border-radius: 0;
  font-size: 0.7em;
  padding-right: 0;
  background-image: url(../Content/images/anniversary/img_list_dot.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.anniversary .banner1 .list-group-item .title-name,
.anniversary .banner2 .list-group-item .title-name {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anniversary .banner1 .list-group-item .title-name a,
.anniversary .banner2 .list-group-item .title-name a {
  color: #333333;
}
.anniversary .banner1 .list-group-item .title-time,
.anniversary .banner2 .list-group-item .title-time {
  text-align: right;
  color: #999999;
}
.anniversary .banner1 .list-group-item:first-child,
.anniversary .banner2 .list-group-item:first-child {
  border-top: none;
}
.anniversary .banner1 p.more a,
.anniversary .banner2 p.more a {
  color: #D0021B;
  font-size: 0.8em;
  text-decoration: none;
  margin: 0 1em 1em 0;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid #D0021B;
  padding-bottom: 3px;
}
.anniversary .banner2 {
  margin-top: 4em;
}
.anniversary .donation {
  padding: 2em 2em 2em 2em;
  margin-left: 1em;
  background-color: white;
  color: #D0021B;
  background-image: url(../Content/images/anniversary/img_donation_pattern_top_1.png), url(../Content/images/anniversary/img_donation_pattern_top_2.png), url(../Content/images/anniversary/img_donation_pattern_bottom_1.png), url(../Content/images/anniversary/img_donation_pattern_bottom_2.png), url(../Content/images/anniversary/img_donation_90.png);
  background-position: 5% 5%, 95% 5%, 5% 95%, 95% 95%, 70% 90%;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  font-family: "STSongti-SC";
  font-weight: bold;
}
.anniversary .donation #news-ticker {
  padding-left: 8px;
  list-style: circle;
}
.anniversary .donation #news-ticker li {
  font-size: 0.8em;
  list-style: circle;
}
.anniversary .donation .title {
  margin: 1em;
  text-align: center;
  font-size: 1.5em;
}
.anniversary .donation hr {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
}
.anniversary .donation .name {
  display: inline-block;
  text-align: left;
  width: 45%;
}
.anniversary .donation .fund {
  display: inline-block;
  text-align: left;
  width: 25%;
}
.anniversary .donation .time {
  display: inline-block;
  text-align: right;
  width: 20%;
  white-space: nowrap;
}
.anniversary .donation a.more {
  font-family: "PingFang SC", "Helvetica Neue", 'Microsoft YaHei', sans-serif, "Microsoft JhengHei";
  color: #D0021B;
  font-size: 0.8em;
  text-decoration: none;
  margin: 0 0 1em 0;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid #D0021B;
  padding-bottom: 3px;
}
.anniversary .banner3,
.anniversary .banner4 {
  background: white;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  margin-top: 4em;
  margin-left: 1em;
}
.anniversary .banner3 .img-cover,
.anniversary .banner4 .img-cover {
  margin-top: -1em;
  margin-left: -1em;
}
.anniversary .banner3 .img-title,
.anniversary .banner4 .img-title {
  margin-top: 2.5em;
  margin-right: 1em;
}
.anniversary .banner3 .img-number,
.anniversary .banner4 .img-number {
  margin-top: -2em;
  margin-right: 0.5em;
}
.anniversary .banner3 .list-group,
.anniversary .banner4 .list-group {
  display: block;
  padding: 0 1em 0 1em;
}
.anniversary .banner3 .list-group-item,
.anniversary .banner4 .list-group-item {
  border-left: none;
  border-right: none;
  border-radius: 0;
  font-size: 0.7em;
  padding-right: 0;
  background-image: url(../Content/images/anniversary/img_list_dot.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.anniversary .banner3 .list-group-item .title-name,
.anniversary .banner4 .list-group-item .title-name {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anniversary .banner3 .list-group-item .title-name a,
.anniversary .banner4 .list-group-item .title-name a {
  color: #333333;
}
.anniversary .banner3 .list-group-item .title-time,
.anniversary .banner4 .list-group-item .title-time {
  text-align: right;
  color: #999999;
}
.anniversary .banner3 .list-group-item:first-child,
.anniversary .banner4 .list-group-item:first-child {
  border-top: none;
}
.anniversary .banner3 p.more a,
.anniversary .banner4 p.more a {
  color: #D0021B;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  margin: 0 1em 1em 0;
  display: inline-block;
  cursor: pointer;
  border-bottom: 2px solid #D0021B;
  padding-bottom: 3px;
}
.anniversary .frame {
  height: 210px;
  line-height: 210px;
  overflow: hidden;
  background-image: url(../Content/images/anniversary/bg_picture_film.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
.anniversary .frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 50px;
}
.anniversary .frame ul li {
  float: left;
  width: auto;
  margin-right: 1em;
  height: 210px;
  padding: 0 0 0 0;
  color: #ddd;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.anniversary .frame ul li .text-content {
  width: 100%;
  max-width: 400px;
  right: 0;
  top: 35px;
  bottom: 10px;
  left: 0;
  cursor: pointer;
  text-decoration: none;
  height: 151px;
  max-height: 151px;
  position: absolute;
  background: rgba(208, 1, 27, 0.8);
  opacity: 0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.anniversary .frame ul li .text-content a {
  font-size: 0.4em;
  color: white;
  display: block;
  line-height: 20px;
  text-decoration: none;
  font-family: "STSongti-SC";
  font-weight: bold;
  letter-spacing: 0px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.anniversary .frame ul li:hover .text-content {
  opacity: 1;
}
.anniversary .crazy img {
  display: inline-block;
  margin: 0;
  width: auto;
  height: 150px;
  line-height: 150px;
  max-width: 400px;
}
.anniversary .photo-gallery {
  position: relative;
}
.anniversary .photo-gallery .btn-forward {
  padding: 1em;
  background-color: #D0021B;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: auto;
  z-index: 5;
  cursor: pointer;
}
.anniversary .photo-gallery .btn-backward {
  padding: 1em;
  background-color: #D0021B;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: auto;
  z-index: 5;
  cursor: pointer;
}
.anniversary .detail-header {
  background-color: #FAFAFA;
}
.anniversary .detail-header .container {
  background-color: white;
}
.anniversary .detail-header .title {
  font-size: 1.3em;
  color: #D0021B;
  margin-top: 2em;
}
.anniversary .detail-header .author,
.anniversary .detail-header .time,
.anniversary .detail-header .count {
  font-size: 0.7em;
  color: #999999;
}
.anniversary .detail-container {
  background-color: #FAFAFA;
}
.anniversary .detail-container .container {
  background-color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 140px;
  padding-right: 140px;
  font-size: 0.7em;
}
.anniversary .detail-container .container img {
  max-width: 100% !important;
  height: auto !important;
}
.anniversary .anniversary-list h1 {
  color: #D0021B;
  font-size: 1.2em;
}
.anniversary .anniversary-list .list-group-item {
  border-left: none;
  border-right: none;
  font-size: 0.7em;
}
.anniversary .anniversary-list .list-group-item .title-name {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2em;
  background-image: url(../Content/images/anniversary/img_list_dot.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.anniversary .anniversary-list .list-group-item a .title-name {
  color: #333333;
}
.anniversary .anniversary-list .list-group-item a .title-fund {
  color: #333333;
}
.anniversary .anniversary-list .list-group-item a .title-time {
  color: #999999;
}
.anniversary .anniversary-list .list-group-item .title-time {
  text-align: right;
}
.anniversary .anniversary-list .list-group-item:nth-child(odd) {
  background-color: #FAFAFA;
}
.anniversary .anniversary-list .list-group-item:first-child {
  border-radius: 0;
  border-top: 2px solid #D0021B;
}
.anniversary .anniversary-list .list-group-item:last-child {
  border-radius: 0;
}
.anniversary .anniversary-list #pagination .pagination > li > a,
.anniversary .anniversary-list #pagination .pagination > li > span {
  border: none;
  font-size: 0.7em;
  padding: 6px;
  color: #333333;
  margin: 0 3px 0 3px;
  min-width: 28px;
  text-align: center;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.anniversary .anniversary-list #pagination .pagination > .active > a {
  color: white;
  background-color: #D0021B;
}
.anniversary .anniversary-list #pagination .pagination > li.first > a,
.anniversary .anniversary-list #pagination .pagination > li.prev > a,
.anniversary .anniversary-list #pagination .pagination > li.last > a,
.anniversary .anniversary-list #pagination .pagination > li.next > a {
  color: #D0021B;
}
.anniversary-footer {
  padding: 2em 2em 1em 2em;
  background-image: url('../Content/images/anniversary/img_bottom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.anniversary-footer p {
  font-size: 0.7em;
}
.anniversary-footer a {
  font-size: 0.7em;
  color: white;
}
.anniversary-footer .copyright {
  font-size: 0.7em;
}
.anniversary-footer .copyright a {
  color: white;
  font-size: 1em;
}
.anniversary-footer hr {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
@media only screen and (max-device-width: 768px) {
  .navbar button.navbar-toggle {
    background-color: transparent;
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar .collapse,
  .navbar .collapsing {
    float: none !important;
    border: none;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .anniversary .navbar .navbar-brand {
    padding: 4px;
  }
  .anniversary .navbar .navbar-brand img {
    width: 193px;
    height: 47px;
  }
  .anniversary .navbar {
    background-image: none;
  }
  .anniversary .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }
  .anniversary .navbar-header {
    height: 50px;
  }
  .anniversary .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 1em;
    height: 50px;
    line-height: 50px;
    padding-top: 0;
  }
}
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
  .navbar button.navbar-toggle {
    background-color: transparent;
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar .collapse,
  .navbar .collapsing {
    float: none !important;
    border: none;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .home .navbar-default {
    border: none;
    z-index: 999 !important;
  }
  .home .navbar.navbar-default {
    background-color: #2D44AA;
    margin-bottom: 0;
  }
  .home .navbar-brand {
    padding: 0 1em;
    line-height: 50px;
    color: white;
  }
  .home .navbar-default .navbar-nav > li > a {
    color: white;
  }
  .home .navbar-default .navbar-collapse {
    background-color: #2D44AA;
  }
  .home .navbar.center .navbar-inner {
    text-align: left;
    height: 40px;
  }
  .home .navbar.center .navbar-inner .nav {
    display: block;
    float: none;
  }
  .home .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
  .home .footer img {
    width: 182px;
    height: 29px;
  }
  .home #carousel-home .carousel-inner .item {
    height: 300px;
  }
  .home #carousel-home .carousel-caption {
    font-size: 1em;
    text-align: left;
  }
  .home #carousel-home .carousel-indicators {
    left: 90%;
    right: 10%;
    width: auto;
    bottom: 0px;
  }
  .home .column-larger {
    padding: 0.5em;
  }
  .home .column-smaller {
    padding: 0.5em;
  }
  .home .container.column {
    padding-left: 0;
    padding-right: 0;
  }
  .home .news-container-right {
    padding: 1em 0 0 0;
  }
  .en-home .navbar-default .navbar-nav > .active > a {
    border: none;
  }
  .en-home .navbar-nav {
    margin: 0;
  }
  .en-home .navbar-brand > img {
    line-height: 50px;
    height: 40px;
  }
  .en-home .navbar-form {
    padding: 0;
    margin: 0;
  }
  .en-home .navbar-default .navbar-nav > .active > a {
    background-image: none;
  }
  .en-home .navbar-brand {
    padding: 4px;
    height: 50px;
    line-height: 50px;
  }
  .en-home #carousel-en .carousel-inner .item {
    height: 300px;
  }
  .en-home #carousel-en .carousel-caption {
    margin-left: 0;
    width: 80%;
  }
  .en-home #carousel-en .carousel-caption p {
    font-size: 1.2em;
  }
  .en-home #carousel-en .carousel-caption a.btn-primary {
    font-size: 0.5em;
    background-size: 5px 9px;
  }
  .en-home .en-column-container {
    padding-left: 15px;
  }
  .en-home .en-column {
    margin-top: 2em;
  }
  .en-home .en-sections {
    margin-top: 2em;
  }
  .en-home .expand-menu {
    margin-top: 2em;
  }
  .en-home .entry .content {
    height: 39.55696203vw;
  }
  .en-home .detail-header {
    background-color: #262F49;
    padding: 0;
    color: white;
  }
  .en-home .detail-header .title {
    font-family: "MinionPro-SemiboldDisp", Times New Roman;
    font-size: 1em;
  }
  .en-home .detail-header .time,
  .en-home .detail-header .count {
    font-size: 0.8em;
    font-weight: lighter;
  }
  .en-home .detail-header .count {
    margin-left: 4em;
  }
  .en-home .detail-container {
    padding: 0 0 0 0;
    background-color: #FAFAFA;
  }
  .en-home .detail-container .content {
    background-color: white;
    font-size: 0.8em;
    padding: 1em;
  }
  .en-home .detail-container .content img {
    max-width: 100% !important;
    height: auto !important;
  }
  .en-home .en-footer .footer-first {
    padding: 1em 0 1em 0;
  }
  .en-home .en-footer .footer-first .contact-us {
    margin-top: 1em;
    border: none;
  }
  .en-home .en-footer .footer-first img {
    width: 98px;
    height: 117.5px;
  }
  .anniversary .top-bg {
    height: 250px;
    background-image: none;
    background: #D0021B;
  }
  .anniversary .top-nav-bg {
    background-image: none;
    background: #D0021B;
  }
  .anniversary .navbar .navbar-brand {
    padding: 4px;
  }
  .anniversary .navbar .navbar-brand img {
    width: 193px;
    height: 47px;
  }
  .anniversary .navbar {
    background-image: none;
  }
  .anniversary .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }
  .anniversary .navbar-collapse {
    background-color: #D0021B;
  }
  .anniversary #carousel-anniversary {
    margin-top: -100px;
  }
  .anniversary #carousel-anniversary .carousel-inner .item {
    height: 250px;
    min-height: 250px;
  }
  .anniversary .donation {
    margin-left: 0;
  }
  .anniversary .donation .row {
    margin-left: 0;
    margin-right: 0;
  }
  .anniversary .donation hr {
    margin-bottom: 1em;
  }
  .anniversary .donation .name {
    width: 70%;
  }
  .anniversary .navbar .navbar-brand {
    height: 50px;
  }
  .anniversary .navbar .navbar-brand img {
    line-height: 50px;
  }
  .anniversary .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 1em;
    height: 50px;
    line-height: 50px;
    padding-top: 0;
  }
  .anniversary .detail-container .container {
    padding: 1em;
  }
  .anniversary .detail-container .container img {
    max-width: 100% !important;
    height: auto !important;
  }
  .anniversary .anniversary-footer .logo {
    margin-top: 1em;
    width: 182.5px;
    height: 29px;
  }
}