body {
  font-family: Helvetica, 'Microsoft YaHei', sans-serif;
  font-size: 20px;
  color: black;
}
.navbar.navbar-default {
  background-color: #252F4A;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: white;
  background-color: #252F4A;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  font-size: 1em;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1em;
}
.navbar.center .navbar-inner {
  text-align: center;
}
.navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none;
}
.navbar-default .navbar-nav > li {
  margin: auto 0.25em auto 0.25em;
}
.top-bg {
  width: 100%;
  height: 190px;
  background-image: url("../Content/images/top-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer {
  padding: 2em;
  width: 100%;
  background-image: url("../Content/images/footer-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.footer img {
  margin-bottom: 2em;
}
.footer a.main-link {
  font-size: 0.9em;
  color: white;
  margin: auto 1em auto 1em;
  cursor: pointer;
  text-decoration: none;
}
.footer p {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1.5em;
  font-size: 0.7em;
  line-height: 1.75em;
}
.footer hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .copyright {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.3);
}
#footer li {
  display: inline;
  margin-right: 1em;
  font-size: 0.7em;
}
#footer li > a {
  color: rgba(255, 255, 255, 0.3);
}
#footer h3 {
  font-size: 0.9em;
}
#carousel-home {
  width: 100%;
  margin-top: -20px;
}
.carousel-inner .item {
  width: 100%;
  height: 500px;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  background-position: center center;
}
#carousel-home img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
#carousel-home .carousel-caption {
  background-color: rgba(45, 68, 170, 0.8);
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.2em;
  padding-top: 18px;
  padding-bottom: 18px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
#carousel-home .carousel-indicators {
  left: 75%;
  bottom: 10px;
}
.carousel-indicators-numbers li {
  text-indent: 0;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 0;
  line-height: 30px;
  color: #fff;
  background-color: transparent;
  transition: all 0.25s ease;
}
.carousel-indicators-numbers li.active,
.carousel-indicators-numbers li:hover {
  color: #2D44AA;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  background-color: white;
}
.cn-home-columns {
  padding: 2em;
}
.cn-home-columns .nav-pills a {
  font-size: 0.9em;
  color: black;
  border-radius: 0;
  padding-left: 4em;
  padding-right: 4em;
}
.cn-home-columns .nav-pills > li.active > a,
.cn-home-columns .nav-pills > li.active > a:focus,
.cn-home-columns .nav-pills > li.active > a:hover {
  color: #2D44AA;
  background-color: transparent;
  border-bottom: 2px solid #2D44AA;
  font-weight: bold;
}
.cn-home-columns .list-group-item {
  border-left: none;
  border-right: none;
  font-size: 0.7em;
}
.cn-home-columns .title-name {
  text-align: left;
}
.cn-home-columns .title-time {
  text-align: right;
}