
@{ 
    var htmlString = new HtmlString(ViewBag.Item.Text);

}
<div class="container-fluid detail-header">
    <div class="container">
        <h1 class="title">@ViewBag.Item.Title</h1>
        <span class="time">Published: @ViewBag.Item.PublishedUtc.ToLocalTime().ToString("yyyy-MM-dd")</span>
        <span class="count">Views: @ViewBag.Item.ViewCount</span>
    </div>
</div>
<div class="container-fluid detail-container">
    <div class="container content">
        @htmlString
    </div>
    
</div>
